.name {
    color: white;
    text-align: center;
    font-family: 'Poppins', Sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_name_title h1 {
    font-size: 8vw;
    height: 10vh;
}

.brief_description {
    width: 100%;
    font-size: 2vw;
    color: #DF058D;
}

@media screen and (max-width: 800px) {
    .my_name_title h1 {
        font-size: 14vw;
    }

    .brief_description {
        padding-top: 40px;
        font-size: 4vw;
    }
}

.my_experience {
    font-size: 4vh;
    text-align: center;
}

.my_experience h1,
.my_experience button,
.footer_title_text {
    color: white;
}

.hello_word_dummpy {
    background-image: url('./images/hello-world-html-code.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    opacity: 0.5;
}

.my_experience * {
    font-weight: bold;
    font-family: 'Poppins', Sans-serif !important;
}

.box_description span {
    font-size: 0.8em !important;
}

.box_description {
    background-color: #241d41;
    font-size: 1.1em;
}

.experience_container {
    width: 40vw;
    margin: 0px auto;
}

.accordion {
    margin-top: 10px;
}

.my_experience {
    background-color: #490c86 !important;
    border-radius: 10px;
    font-size: 1.3vw;
}

.title_job,
.job_time {
    color: white !important;
    background-color: transparent !important;
    font-size: 1.1rem !important;
    font-weight: bold !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.job_time {
    margin-left: auto;
}

.tools_used {
    background-color: #2c3599 !important;
    opacity: 0.8;
    color: #eee !important;
}

footer {
    margin-top: 20vh;
    background-color: rgba(39, 38, 38, 0.205) !important;
}

footer div {
    background-color: transparent !important;
    box-shadow: none !important;
    margin-bottom: 5vh;
}

.footer_title {
    font-size: 4rem;
    color: #DF058D;
}

.footer_row {
    display: flex;
    justify-content: center !important;
}

.footer_text {
    color: white !important;
    font-size: 1.2rem;
    font-weight: 0 !important;
    margin: auto !important;
    cursor: pointer;
}

.footer_text_contact {
    font-size: 1.5rem;
    background-image: linear-gradient(to right,
            #DF058D,
            #2c3599 50%,
            #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.footer_text_contact:before {
    content: '';
    background: #DF058D;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.footer_text_contact:hover {
    background-position: 0;
}

.footer_text_contact:hover::before {
    width: 100%;
}

.footer_text_get_quote {
    text-decoration: none;
    color: white;
    font-weight: 700;
    position: relative;
    font-size: 3vh;
    border: 1px solid blueviolet;
    border-radius: 55px;
    padding: 5vh;
}

.footer_text_get_quote:hover {
    transition: all .3s ease-in-out;
    background-color: blueviolet;
    color: white;
}

.footer_network_socials {
    border-top: 1px solid rgba(255, 255, 255, 0.252);
    width: 90vw !important;
    margin: auto !important;
    cursor: pointer;

    padding-top: 5vh;
}

.footer_network_social_icon:hover {
    color: #DF058D !important;
    transition: ease-in-out 1s;
}