@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('./images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.975) !important;
}

.App {
    height: 100vh;
    width: 100vw;
}
